 body {
   margin: 0;
   /* overflow: hidden; */
   /* position: relative; */
 }

.header{
  display:flex;
  align-items:center;
  justify-content:space-around;
  font-family:'Teko', sans-serif;
  position:sticky;
  top:0;
  z-index:1;
  background-color: white;
  text-decoration: none;
}